@import '../../../Common/Utils/Styles/mixin.scss';
@import '../../../Common/Utils/Styles/colors.scss';

.edit-select-cnt {
  background-color: $bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &.calendar {
    &::before {
      content: '';
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      background-color: $input;
      z-index: 5;
      opacity: 0.3;
    }
  }
  &-edit {
    width: 100%;
    max-width: 76rem;
    display: flex;
    flex-direction: column;
    @include respond(tab) {
      align-items: center;
    }
  }
  &-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @include respond(tab) {
      width: 90%;
    }
  }
  &-back-btn {
    float: right;
    margin-top: -7px;
    width: 17rem;
    @include respond(mobile) {
      margin: 0 auto 13px auto;
      float: none;
      width: 100%;
      height: 50px;
    }
  }
  &-block {
    padding-top: 10rem !important;
    padding-bottom: 3rem;
    @include respond(tab) {
      padding-bottom: 0;
    }
  }
  &-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 8rem 0 10rem 0;

    @include respond(tab) {
      flex-direction: column;
      align-items: center;
      padding: 3rem 0 30rem 0;
    }

    &-title {
      margin-top: 0;
      margin-bottom: rc(30);
      font-size: rc(20);
      font-weight: 600;
      text-align: left;
      color: $input;
      float: left;

      @include respond(mobile) {
        display: none;
      }

      span {
        color: $violet;
      }
    }

    &-filters {
      margin-right: 1rem;
      @include respond(tab) {
        width: 90%;
        margin: 0 0 3rem 0;
      }
    }
    &-destinations {
    }

    &-destination-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // width: 57rem;

      @include respond(tab) {
        max-width: unset;
        width: 90%;
        justify-content: space-between;
        .destination:nth-of-type(4n) {
          margin-right: 0 !important;
        }
      }

      @include respond(mobile) {
        margin: 0 auto;
      }
      .destination:nth-of-type(4n) {
        margin-right: auto;
      }
    }
  }
}
