@import '../../../Common/Utils/Styles/colors.scss';

.calendar {
  &-arrow_next {
    transform: rotateZ(-90deg);
  }
  &-arrow_prev {
    transform: rotateZ(90deg);
  }
  .react-calendar {
    border: none;
    color: $gray-dark;
    border-top: 1px solid $gray;
    padding-top: 1rem;
    margin: auto;

    &__navigation {
      align-items: center;
      &__label {
        color: $input;
        font-size: 1rem;
        font-weight: bold;
        pointer-events: none;
      }
      &__arrow {
        height: 29px;
        border-radius: 3px;
        border: thin solid $gray;
      }
    }
    &__month-view {
      &__weekdays {
        padding-bottom: 1rem;
      }
      &__days {
        display: table;

        &__day {
          &--weekend {
            color: buttontext;

            &:disabled {
              color: #808080;
            }
          }
        }
      }
    }
    &__tile {
      box-shadow: 1px 0 0 0 $gray, 0 1px 0 0 $gray, 1px 1px 0 0 $gray,
        1px 0 0 0 $gray inset, 0 1px 0 0 $gray inset;
      &--active {
        color: $white !important;
        background-color: $blue-light !important;
        box-shadow: 1px 0 0 0 $blue, 0 1px 0 0 $blue, 1px 1px 0 0 $blue,
          1px 0 0 0 $blue inset, 0 1px 0 0 $blue inset;
      }

      &--rangeStart {
        background-color: $blue !important;
      }
      &--rangeEnd {
        background-color: $blue !important;
      }
    }
  }
  .react-calendar__tile:disabled {
    background-color: darken($color: #f0f0f0, $amount: 15) !important;
    color: #808080 !important;
  }
}
