@import '../../../Common/Utils/Styles/mixin.scss';
@import '../../../Common/Utils/Styles/colors.scss';
.spon-table {
  border: 1px solid rgba(0, 0, 0, 0.1);

  &--transactions {
    .rt-td,
    .rt-th {
      white-space: normal;
      word-break: break-word;
    }
  }

  &__actions {
    display: flex;

    button {
      font-size: 0.8rem;
      box-shadow: 0;
      border: none;
      background: transparent;
      color: $darker-blue;
      text-decoration: underline;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        color: $disabled;
        cursor: not-allowed;
      }
    }
  }

  &__photo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: rc(40);
      height: rc(40);
      margin-right: rc(17);
    }

    &:hover {
      opacity: 0.5;
    }
  }

  .ReactTable {
    .spon-checkbox {
      position: relative;
      min-height: rc(24);

      &--is-label {
        .spon-checkbox__icon {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }
      }

      input {
        display: none;

        &:checked + div {
          background: $violet-dark;

          &:after {
            display: block;
          }
        }
      }

      label {
        padding-left: rc(35);
        font-family: Helvetica;
        font-weight: lighter;
        font-size: rc(12);
        line-height: rc(24);
        letter-spacing: 0.4px;
        text-align: left;
        color: $gray-dark;
        border-color: inherit;
        cursor: pointer;

        @include respond(tab-port) {
          transform: translateY(0.2rem);
        }
      }

      &__icon {
        position: relative;
        width: rc(24);
        height: rc(24);
        border-radius: 0.3rem;
        background-color: transparent;
        border: 2px solid $violet-dark;

        &:after {
          content: '';
          display: none;
          width: rc(9);
          height: rc(4);
          border: solid $white;
          border-width: 0 0 rc(2) rc(2);
          margin-top: -2px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }

    .rt-noData {
      top: initial;
      bottom: rc(50);
      transform: translate(-50%, 0);
    }
    .rt-thead {
      padding-top: rc(55);
      padding-bottom: rc(44);
      box-shadow: none;

      .rt-tr {
        padding: 0 2rem;
      }

      .rt-th {
        text-align: left;
        font-weight: 600;
        font-size: 1rem;
        color: $input;
        border-right: none;

        &:focus {
          outline: none;
        }
      }
    }

    .rt-tr {
      align-items: center;
      color: $input;
      font-size: 1rem;
    }

    .select-wrap {
      display: none;
    }
  }
}
