# The application's environment and port.
APP_ENV=development
APP_PORT=

# The API documentation's port.
API_DOCUMENTATION_PORT=

# The Maildev's port.
MAILDEV_PORT=

# The NoSQLClient's port.
NOSQLCLIENT_PORT=

# The MongoDB's credentials.
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
