# The application's environment and port.
APP_ENV=production
APP_PORT=

# The NoSQLClient's port.
NOSQLCLIENT_PORT=

# The MongoDB's credentials.
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
