# The API documentation's port.
API_DOCUMENTATION_PORT=1338

# The Maildev's port.
MAILDEV_PORT=1339

# The NoSQLClient's port.
NOSQLCLIENT_PORT=1340

# The MongoDB's credentials.
MONGO_INITDB_ROOT_USERNAME=SponteousDevManager
MONGO_INITDB_ROOT_PASSWORD=GZiV12OmdDmmxkX2