@import '../../../Common/Utils/Styles/mixin.scss';
@import '../../../Common/Utils/Styles/colors.scss';

.spon-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  &--visible {
    display: flex;
  }

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  &__card {
    position: relative;
    // width: rc(700);
  }

  &__header {
    position: relative;
    width: 100%;
    height: rc(80);
    display: flex;
    justify-content: center;
    align-items: center;
    background: $header;

    button {
      position: absolute;
      top: 50%;
      right: rc(20);
      transform: translateY(-50%);
      width: rc(20);
      height: rc(20);
      background: transparent;
      box-shadow: none;
      border: 0;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 2px;
        background: $dark-blue;
        display: block;

        &:first-child {
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:last-child {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }

  &__title {
    color: $dark-blue;
    font-size: rc(24);
    font-weight: 600;
  }

  &__content {
    background: $white;
    padding: 1rem 2rem;
  }
}
