@import '../../../Common/Utils/Styles/colors.scss';

.first-row-header div {
    margin-top: 4em;
    color: #ffffff;
    z-index: 4;
    margin-left: 3em;
}

.second-row-header {
    display: grid;
    grid-template-columns:70% 30%;
    position: relative;
    top: 40%;
}

.second-row-header div {
    margin-top: -0.6em;
}

.search-box {
    margin-left: 3.5em; 
    background:$white;
    border: solid $gray 2px;
    height: 30px;
    width: 350px;
    border-radius: 40px;
    padding: 10px;
    margin-top: 10px;
}

.addCity {
    width: 150px;
    margin-left: 19em;
}

.grid-container {
  margin-left: 2.5em;
  margin-top: 1em;
  width: 1335px;
  height: 150px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
}

.table-header {
    padding-top: 20%;
    color: $white;
    background-color: $gray;
    font-size: 16px;
    text-align: center;
  }


.table-row {
    display: inline;
}


.table-buttons {
    display: flex;
    justify-content: center;
}




























































































































































.grid-container-header {
    display: grid ;
    grid-template-columns: auto auto;
    padding: 10px;
    text-align: center;
}

.gridItemHeader {
    text-align: left;
    border: 1px;
    padding: 20px;
}



.header {
    text-align: center;
    font-size: 10;
    padding: 10px;
}




.search-txt{
    border: none;
    background:none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 10px;
    width: 240px;
}

.modify-Btn {
    position: relative;
    left: 25%;
    top: -15%;
    width: 100px;  
    height: 40px;
}

.modify-Btn:disabled {
    background-color: white;
    text-decoration-color: gray
}

