@import '../../../Common/Utils/Styles/mixin.scss';
@import '../../../Common/Utils/Styles/colors.scss';

.backArrow {
  margin-right: 0.5rem;
}

.billing {
  border: 1px solid $gray;
  width: 100%;
  background-color: $white;
  &-edit-info-text {
    font-weight: 600;
  }
  &-header {
    width: 100%;
    padding: 2rem;
    border-bottom: 1px solid $gray;
    &-gray {
      color: $gray;
    }
    &-violet {
      font-weight: bold;
      color: $violet;
      text-align: left;

      @include respond(mobile) {
        font-size: 16px;
      }
    }
    &-back {
      display: flex;
      align-items: center;
      button {
        width: 100%;
        flex-grow: 1;
        text-align: left;
        padding: 0;
        color: $gray-dark;
        font-size: 0.8em;
        outline: none;
        border: none;
        background: inherit;
        cursor: pointer;
        &:focus {
          outline: 1px solid $gray;
        }
      }
    }
  }
  &-step {
    display: flex;
    align-items: center;
    &:first-of-type {
      margin-right: 0.5rem;
    }
    &:last-of-type {
      margin-left: 0.5rem;
    }
  }
  &-header,
  &-step_icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-step_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
    &-blue {
      border: 2px solid $blue-light;
    }
    &-gray {
      border: 1px solid $gray;
      color: $gray;
    }
    &-green {
      border: 2px solid $green;
      color: $green;
    }
  }
  &-header_dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $gray;
    margin-right: 0.5rem;

    @include respond(mobile) {
      transform: translateY(-6px);
    }
    &-blue {
      background-color: $blue-light;
    }
  }
  &-passengers {
    border-bottom: 1px solid $gray;
    &-primary,
    &-additional {
      width: 100%;
      padding: 2rem;
    }
  }
  &-submit {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 64em) {
      display: none;
    }

    .button {
      max-width: 100%;
    }

    &-back {
      color: #7b899f;
      letter-spacing: 1px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      outline: none;
      background-color: inherit;
      margin: 2rem auto 0 auto;
      &:focus {
        outline: 1px solid $gray;
        color: $gray;
      }
      img {
        width: 15px;
        height: 8px;
        transform: rotateZ(90deg);
      }
    }
    &-error {
      color: $red;
    }
  }
  &-payment {
    border-bottom: 1px solid $gray;
    &-billing_info,
    &-card {
      width: 100%;
      padding: 2rem;
    }
    &-billing_info {
      border-bottom: 1px solid $gray;
    }
  }
  &.step_0 {
    .billing-payment {
      display: none;
    }
  }
  &.step_1 {
    .billing {
      &-passengers {
        display: none;
      }
      &-header-back {
        flex-direction: column;
      }
    }
  }
  @include respond(mobile) {
    &-header {
      align-items: center;
      &-back {
        justify-content: center;
        button {
          display: flex;
          font-size: 12px;
          align-items: center;
          justify-content: space-around;
        }
      }
    }
    &-header_dot {
      &:nth-of-type(2n + 1) {
        display: none;
      }
    }
    &-step_icon {
      width: 35px;
      height: 35px;
      margin: 0 0 5px 0;
    }
    &-step {
      flex-direction: column;
      height: 80px;
      font-size: 12px;
    }
  }
}
