@import '../../../Common/Utils/Styles/mixin.scss';
@import '../../../Common/Utils/Styles/colors.scss';

.title {
  font-weight: bold;
  color: $white;
  text-align: center;
  max-width: 100%;
  word-break: break-word;
  @include respond(mobile) {
    margin-top: 0;
    line-height: 1.17;
    margin-bottom: 3rem;
    font-size: 3.6rem !important;
  }
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  font-size: 3rem;
  width: 35rem;

  @include respond(tab) {
    font-size: 3.2rem;
  }

  span {
    color: $main-blue;
  }
}

.deselect-title {
  width: 28rem;

  @include respond(tab) {
    padding-bottom: 3rem;
  }

  @include respond(mobile) { 
    padding-bottom: 0;
  }
}

.hide-desc {
  display: none;
}

.desc {
  display: none;

  @include respond(mobile) {
    display: block;
    color: $white;
    text-align: center;
    max-width: 100%;
    word-break: break-word;
    font-size: 2rem;
    padding-bottom: 4rem;
  }
}

.landing-title {
  @include respond(tab) {
    width: 38rem;
  }
  @include respond(mobile) {
    width: 90%;
  }
}