# JWT secret
JWT_SECRET=

# Mail
MAIL_KEY=
MAIL_FROM=
MAIL_DOMAIN=
MAIL_ROOT_URL=

# Redis
REDIS_HOST=
REDIS_PORT=

# DB
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# Stripe
STRIPE_API_KEY=
STRIPE_API_VER=

#AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_HOST=
AWS_S3_BUCKET_NAME=

# SYSTEM
  # It minutes
TICKET_BOOKING_TIME=
  # It must be in £
TICKET_CHOOSE_TIME_PRICE=
SUPPORT_EMAIL=
