@import '../../../Common/Utils/Styles/mixin.scss';
@import '../../../Common/Utils/Styles/colors.scss';

.spon-admin-trip-header {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $light-gray;

  &__bulk {
    height: 7rem;
    margin-left: auto;
    max-width: 10rem;
    padding: 0 1rem 0 1.25rem;
  }

  &__select {
    width: 42rem;
    padding: 0 rc(15) 0 rc(5);
    margin-top: rc(1);
    display: flex;

    &__From {
      width: 60%;
      margin-top: rc(3);
      margin-right: 1.5rem;
    }
    &__To {
      width: 60%;
      margin-top: rc(3);
      margin-right: 1rem;
    }
  }
  input {
    margin: 15px;
  }

  &__filters {
    background: $violet-light;
    padding: rc(20) rc(20) 0 rc(20);
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__heading {
    font-weight: 500;
    font-size: 1.5rem;
    color: $dark-blue;
    margin-right: 6rem;
    width: max-content;
  }

  &__add-button {
    margin-top: 0.75rem;
    max-width: 11rem;
    padding: 0 1rem 0 1.25rem;
  }

  &__button_div {
    width: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.5rem;
    margin-left: auto;

    &__bulk-button {
      margin-right: 0.5rem;
      max-width: 36%;
      padding: 0 1rem 0 1.25rem;

      &--big {
        padding: 0 1rem 0 1.25rem;
        margin-right: 0.5rem;
      }
    }

    .dropdown {
      float: left;
      overflow: hidden;
      margin-top: 0.75rem;
    }

    .dropdown .dropbtn {
      margin-bottom: 0.25rem;
      cursor: pointer;
      height: 3rem;
      width: 11rem;
      border-radius: 3px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 80%;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: $blue-light;
      font-family: inherit;
      margin: 0;
    }

    .navbar a:hover,
    .dropdown:hover .dropbtn {
      background-color: $blue;
    }

    .dropdown-content {
      cursor: pointer;
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      width: 11rem;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      float: none;
      color: $dark-blue;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
  }

  &__search {
    width: 20rem;

    input {
      border: 1px solid $violet-light;
    }

    @include placeholder {
      color: $violet-light;
    }
  }
}
