@import '../../../Common/Utils/Styles/mixin.scss';
@import '../../../Common/Utils/Styles/colors.scss';

.deselect-cnt {
  background-color: $bg;
  display: flex;
  align-items: center;
  flex-direction: column;

  &-block {
    padding-bottom: 3rem;
    @include respond(tab) {
      padding-bottom: 0;
    }
  }
  &-info {
    width: 100%;
    max-width: 76rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 9rem;
    @include respond(tab) {
      margin-top: 0;
      justify-content: center;
      flex-direction: column;
      width: 90%;
    }
    p {
      font-size: 1.3rem;
      font-weight: bold;
      color: $input;

      @include respond(tab) {
        font-size: 2rem;

        &:last-child {
          margin-top: 0;
        }
      }

      span {
        color: $violet;
      }
    }
    &-margin {
      @include respond(mobile) {
        margin: 20px !important;
        text-align: center;
      }
    }
    button {
      margin-top: 0;
      margin-right: 1rem;
      width: 18rem;
      @include respond(tab) {
        margin-bottom: 2.5rem;
      }
    }
    &-normalBold {
      font-weight: normal;
      display: flex;
      flex-wrap: wrap;
    }
    &-optional {
      @include respond(mobile) {
        font-size: 0;
      }
    }
  }
  &-destinations {
    display: flex;
    width: 100%;
    max-width: 76rem;
    flex-wrap: wrap;
    padding-bottom: 5rem;

    @include respond(tab) {
      width: 90%;
      max-width: unset;
      justify-content: space-between;
      .destination:nth-of-type(4n) {
        margin-right: 0 !important;
      }
    }
    .destination-when-not-selected {
      height: 25rem !important;
      @include respond(mobile) {
        height: 40rem !important;
      }
    }
    .destination:nth-of-type(4n) {
      margin-right: auto;
    }
  }
}
