@import '../../../Common/Utils/Styles/mixin.scss';
@import '../../../Common/Utils/Styles/colors.scss';

.steps {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: -4rem;
  justify-content: center;
  @include respond(tab) {
    display: none;
  }
  &-template {
    text-decoration: none;
    cursor: default;
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0;
    }

    &-cnt {
      display: flex;
      flex-direction: column;
      width: 18.2rem;
      height: 8rem;
      background-color: $white;
      border-radius: 3px;
      border-top: 5px solid $blue-light;
      p {
        font-weight: bold;
        text-decoration: none;
        color: $violet;
        font-size: 0.8rem;
        padding: 0 1rem;
        margin: 1rem 0 0 0;
      }
      &-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        p {
          font-weight: 500;
          font-size: 1rem;
          width: 100%;
          color: $input;
          padding: 0 1rem;
          margin: 0;
          span {
            color: $input;
          }
        }
        img {
          max-height: 5rem;
          max-width: 5rem;
        }
      }
    }

    &.active ~ & {
      div {
        border-top: 5px solid $white;
      }
      p {
        color: $inactive;
        span {
          color: $inactive;
        }
      }
      img {
        opacity: 0.5;
      }
    }
  }
}
