@import '../../../Common/Utils/Styles/mixin.scss';
@import '../../../Common/Utils/Styles/colors.scss';

.react-calendar__month-view__weekdays__weekday {
  @include respond(mobile) {
    font-size: 1.2rem !important;
  }
}

.react-calendar__navigation__label {
  font-weight: 100 !important;
  @include respond(mobile) {
    font-size: 1.2rem !important;
    font-weight: 100 !important;
  }
}

.react-calendar__month-view__weekdays {
  padding-bottom: 0 !important;
}

.destination {
  position: relative;
  width: 18.2rem;
  min-height: 25rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin-bottom: 2rem;
  margin-right: 1rem;
  &-calendar-pick {
    .calendar {
      .react-calendar {
        padding: 0;
        &__navigation {
          margin-bottom: 0;
          &__label {
            font-weight: 100;
          }
        }
      }
    }
  }
  &.gdpr {
    padding-bottom: 15rem;
  }

  @media (max-width: 575.98px) {
    .destination {
      width: 290px;
    }
  }

  &:nth-of-type(3n) {
    @include respond(big) {
      margin-right: 1rem;
    }
    @include respond(mobile) {
      margin: 0 auto 4rem auto;
    }
  }

  @include respond(tab) {
    width: 300px;
    margin-right: 0;
    height: 37rem;
  }

  @include respond(mobile) {
    width: 100%;
    height: 42rem;
    margin: 0 auto 4rem auto;
  }
  &.overlay {
    & * {
      z-index: 6;
    }
  }
  &.mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: unset !important;
    background-color: #ffffff;
    z-index: 2;
    overflow: auto;
    overflow-x: hidden;
  }
  &-top {
    position: relative;
    height: 11.5rem;
    width: 100%;

    @include respond(tab) {
      height: 15.8rem;
    }

    @include respond(hone) {
      height: 16rem;
    }

    &.short {
      height: 7.55rem;

      @include respond(bigger) {
        height: 7.7rem;
      }
      @include respond(big) {
        height: 7.59rem;
      }
      @include respond(tab) {
        height: 13.5rem;
      }
    }

    &.shortest {
      height: 4rem;
      @include respond(tab) {
        height: 8rem;
      }
    }
    &.medium {
      height: 7.25rem;
      @include respond(bigger) {
        height: 6.25rem;
      }
      @include respond(big) {
        height: 5.35rem;
      }
      @include respond(tab) {
        height: 10rem;
      }
    }
    .badge {
      position: absolute;
      color: $white;
      background-color: $red;
      border: 1px $red solid;
      border-radius: 3px;
      padding: 0.3rem 1rem;
      font-size: 0.75rem;
      top: 1rem;
      left: 1rem;
      @include respond(tab) {
        font-size: 1.4rem;
      }
    }
    img {
      width: 100%;
      //height: 100%;
      object-fit: cover;
    }
  }
  &-bottom {
    width: 100%;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-radius: 0 0 3px 3px;
    border-color: $gray;
    padding: 1rem;
    background-color: $white;
    position: relative;

    @include respond(tab) {
      // height: 30rem;
    }
    @include respond(mobile) {
      // height: 30rem;
      padding-bottom: 1rem;
    }
    .spon-btn {
      @include respond(tab) {
        justify-content: center;
      }

      @include respond(mobile) {
        height: 50px;
        min-height: 50px;
        font-size: rc(12);
      }

      div {
        @include respond(mobile) {
          width: 30px;
          height: 30px;
        }
      }
    }

    .spon-btn.blue:hover {
      background-color: #1da4f0;
    }

    .destination-hurry-up-message {
      display: flex;
      border-radius: 3px;
      background-color: rgba(240, 89, 113, 0.16);
      margin-bottom: 15px;
      padding-right: 5px;
      align-items: center;
      img {
        margin: 0 15px;
      }
      &-text {
        color: #f05971;
        font-size: 0.875rem;
        height: 54px;
        display: flex;
        justify-content: start;
        align-items: center;
        @include respond(mobile) {
          font-size: 1.4rem;
        }
      }
      @include respond(mobile) {
        margin-bottom: 0 !important;
      }
    }

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;
      @include respond(mobile) {
        padding-top: 1rem;
      }
    }

    &-type {
      padding: 0.3rem 1rem;
      border: 1px solid;
      width: max-content;
      border-radius: 3px;
      font-size: 0.75rem;

      font-weight: bold;

      @include respond(tab) {
        font-size: 1.5rem;
        font-weight: 500;
      }

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &--train {
        border-color: $orange !important;
        color: $orange !important;
      }

      &--bus {
        border-color: $green !important;
        color: $green !important;
      }

      &--flight {
        border-color: $violet !important;
        color: $violet !important;
      }

      &--red {
        border-color: $red !important;
        color: $red !important;
      }
    }

    &-types {
      display: flex;
    }

    &-title {
      color: $input;
      font-size: 1.1rem;
      font-weight: 500;
      margin: 0;
      margin-bottom: 0.5rem;

      @include respond(tab) {
        font-size: 18px;
      }
    }

    &-duration {
      color: $label;
      font-weight: 500;
      font-size: rc(12);
      margin: 0;

      @include respond(tab) {
        font-size: 12px;
      }
    }

    &-luggage {
      margin: 0;
      color: $label;
      font-weight: 400;
      font-size: rc(14);

      @include respond(tab) {
        font-size: 14px;
      }
    }

    &-departure {
      color: $label;
      font-size: 0.85rem;
      margin: 0.5rem 0;
      @include respond(tab) {
        font-size: 1.3rem;
      }
    }
    &-price {
      color: $violet;
      font-size: 16px;
      font-weight: 600;
      margin: 1rem 0 0 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include respond(bigger) {
        font-size: 14px;
      }
      @include respond(big) {
        font-size: 12px;
      }
      @include respond(tab) {
        font-size: 1.75rem;
      }
      &--stripped {
        font-size: 0.9rem;
        text-decoration: line-through;
        @include respond(tab) {
          font-size: 1.4rem;
        }
      }

      &--final {
        color: $red;
      }
    }
    &-travel-dates {
      &-title {
        color: #2e333b;
        font-size: 14px;
      }
      &-block {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0 15px;
        margin-bottom: 10px;
        border-radius: 3px;
        border: solid 1px #dadce9;
        background: rgba(255, 255, 255, 0.13);
        &:hover {
          border: solid 1px #4142a6;
        }
      }
      &-block.selected {
        border: solid 1px #4142a6;
      }
      [type='radio']:checked {
        box-shadow: inset 0px 0px 3px #9ea1b9;
      }

      [type='radio']:checked,
      [type='radio']:not(:checked) {
        position: absolute;
        left: -9999px;
        box-shadow: inset 0px 0px 3px #9ea1b9;
      }
      [type='radio']:checked + label,
      [type='radio']:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: #2e333b;
        font-weight: 600;
        line-height: 18px;
        text-transform: uppercase;
        width: 100%;
        span {
          text-transform: initial;
        }
      }
      [type='radio']:checked + label:before,
      [type='radio']:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
        box-shadow: inset 0 0 3px #9ea1b9;
      }
      [type='radio']:checked + label:after,
      [type='radio']:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: #4142a6;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
      [type='radio']:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      [type='radio']:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }
  &-bottom.opened {
    @include respond(mobile) {
      border: none;
    }
  }
  &-pick-calendar-wrapper {
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  &-pick-calendar {
    position: relative;
    height: 110px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
    -webkit-mask-image: -webkit-gradient(
      linear,
      left 50%,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
    mask-image: -webkit-gradient(
      linear,
      left 50%,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
    &-panel {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      z-index: 7 !important;
    }
    .destination-calendar {
      top: 0px !important;
    }
  }
  &-wrapper {
    position: absolute;
    width: 100%;
    top: 0px;
    @include respond(mobile) {
      position: relative;
    }
  }
  &-calendar {
    z-index: 7 !important;
    background-color: white;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 160px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-radius: 3px;
    border-color: $gray;

    @include respond(bigger) {
      position: relative;
      left: 0px;
      right: 0px;
      top: 0px;
      padding: 0px;
      border: none;
    }

    @include respond(tab) {
      position: relative;
      left: 0px;
      right: 0px;
      top: 0px;
      padding: 0px;
      border: none;
    }

    @include respond(mobile) {
      position: relative;
      left: 0px;
      right: 0px;
      top: 0px;
      padding: 0px;
      border: none;
    }

    .calendar {
      display: flex;
      justify-content: center;
      padding: 0 1rem;
    }
    &-bottom {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      padding: 0 1rem 0 1rem;

      @include respond(mobile) {
        padding: 0 1rem 5rem 1rem;
      }
      .blue-select:hover {
        background-color: #1da4f0;
      }
    }

    &-error {
      padding: 1rem 1rem 0 1rem;
      color: $error-red;
      font-size: rc(12);
    }

    &-dropdowns {
      position: relative;
      z-index: 9 !important;
      margin-top: 1rem;
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      p.heading {
        margin: rc(10) 0;
        font-size: rc(14);

        @include respond(mobile) {
          margin: rc(20) 0;
          font-size: rc(20);
        }
      }

      .spon-dropdown {
        width: 100%;

        &:first-of-type {
          margin-bottom: 1rem;
        }
      }

      .spon-dropdown__element {
        height: 2rem;

        @include respond(mobile) {
          height: 4rem;
        }
      }

      .spon-dropdown__placeholder {
        font-size: rc(12);

        @include respond(mobile) {
          padding: 0 1rem;
        }
      }

      .spon-dropdown__list-item {
        @include respond(mobile) {
          min-height: 4rem;
        }

        p {
          margin: 0;
        }
      }
    }
  }
  &-calendar.calendar-0 {
    top: 270px;
    @include respond(bigger) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }

    @include respond(tab) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }
  }
  &-calendar.calendar-1 {
    top: 320px;
    @include respond(bigger) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }
    @include respond(big) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }

    @include respond(tab) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }
  }
  &-calendar.calendar-2 {
    top: 380px;
    @include respond(bigger) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }

    @include respond(tab) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }
  }
  &-calendar.calendar-3 {
    top: 440px;
    @include respond(bigger) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }

    @include respond(tab) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }
  }
  &-calendar.calendar-4 {
    top: 500px;
    @include respond(bigger) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }
    @include respond(bigger) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }

    @include respond(tab) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }
  }
  &-calendar.calendar-bottom-0 {
    top: 280px;
    @include respond(bigger) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }

    @include respond(tab) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }
  }
  &-calendar.calendar-bottom-1 {
    top: 330px;
    @include respond(bigger) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }
    @include respond(big) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }

    @include respond(tab) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }
  }
  &-calendar.calendar-bottom-2 {
    top: 380px;
    @include respond(bigger) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }

    @include respond(tab) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }
  }
  &-calendar.calendar-bottom-3 {
    top: 430px;
    @include respond(bigger) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }

    @include respond(tab) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }
  }
  &-calendar.calendar-bottom-4 {
    top: 480px;
    @include respond(bigger) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }
    @include respond(bigger) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }

    @include respond(tab) {
      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
    }
  }
  &-btn {
    height: 3rem;
    border: none;
    border-radius: 3px;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    outline: none;
    span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.8rem;
    }
    div {
      display: flex;
      justify-content: center;
      height: 1.6rem;
      width: 1.6rem;
      background-color: $blue;
      border-radius: 50%;
    }

    &.blue {
      background-color: $blue-light;
      padding: 0 1rem 0 2rem;
      span {
        color: $white;
      }
      &:disabled {
        background-color: $inactive;
        cursor: not-allowed;
        div {
          background-color: $label;
        }
      }
    }
    &.green {
      background-color: $green;
      padding: 0 1rem;
      span {
        width: 100%;
        text-align: center;
        color: $white;
      }
    }
    &.blue-select {
      background-color: $blue-light;
      padding: 0 1rem;
      span {
        width: 100%;
        text-align: center;
        color: $white;
      }
    }
    &.white {
      background-color: $white;
      border: 1px solid $gray;
      padding: 0 1rem;
      span {
        width: 100%;
        text-align: center;
        color: $input;
      }
    }
    &.gray {
      background-color: $white;
      border: 1px solid $gray;
      padding: 0 1rem;
      justify-content: center;
      span {
        color: $input;
        font-weight: bold;
      }
      div {
        height: auto;
        width: auto;
        margin-right: 1rem;
        background-color: transparent;
      }
    }
    &.red {
      background-color: $red;
      padding: 0 1rem;
      justify-content: center;
      span {
        color: $white;
        font-weight: bold;
      }
      div {
        height: auto;
        width: auto;
        margin-right: 1rem;
        background-color: transparent;
      }
    }
  }
  &-close-mobile {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white !important;
    border-radius: 50% !important;
    border: none !important;
    right: 18px;
    top: 18px;
    width: 29px !important;
    height: 29px !important;
    box-shadow: 0px 0px 10px rgba(92, 96, 146, 0.94);
    z-index: 10;
    img {
      width: 12.57px !important;
      height: 12px !important;
    }
  }
}

.destination-when-not-selected {
  height: 22rem;
  min-height: 22rem;
  @include respond(tab) {
    height: unset !important;
  }
  @include respond(mobile) {
    height: 38rem !important;
  }
}
