@import '../../../Common/Utils/Styles/mixin.scss';
@import '../../../Common/Utils/Styles/colors.scss';

.search {
  display: flex;
  margin-bottom: 5rem;
  box-shadow: 0 9px 31px 0 $shadow;
  @include respond(mobile) {
    flex-direction: column;
    width: 90%;
    box-shadow: none;
  }
  &-input {
    height: 4.2rem;
    width: 30rem;
    padding: 0 1.5rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: $white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid $border;

    @include respond(tab) {
      height: 6rem;
    }

    @include respond(mobile) {
      width: 100%;
      margin-bottom: 1rem;
      box-shadow: 0 9px 31px 0 $shadow;
      border-radius: 3px;
    }
    label {
      font-size: 0.55rem;
      font-weight: 600;
      letter-spacing: 1px;
      color: $label;

      @include respond(tab) {
        font-size: 0.9rem;
      }
      &.dirty {
        position: relative;
      }
    }
    input {
      border: none;
      outline: none;
      font-size: 0.9rem;
      font-weight: 600;
      color: $input;
      background-color: transparent;
      z-index: 2;
      text-transform: capitalize;

      @include respond(tab) {
        font-size: 1.4rem;
      }
      &:focus ~ label {
        position: relative;
      }
    }
  }

  &-select {
    background-color: $white;
    position: relative;
    height: 4.2rem;
    width: 14rem;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include respond(tab) {
      height: 6rem;
      width: 20rem;
    }

    @include respond(mobile) {
      width: 100%;
      justify-content: flex-start;
      margin-bottom: 1rem;
      box-shadow: 0 9px 31px 0 $shadow;
      border-radius: 3px;

      &.buttons {
        margin-bottom: 5rem;
      }
    }
    span {
      margin: 0 0.5rem;
      font-size: 0.9rem;
      font-weight: 600;
      color: $input;
      width: 100%;
      text-align: center;

      @include respond(tab) {
        font-size: 1.4rem;
      }

      @include respond(mobile) {
        width: auto;
      }
    }

    button {
      background: transparent;
      border: 0;
      padding: 0.5rem;
      cursor: pointer;

      &:focus {
        outline: 0;
      }

      &:last-of-type {
        @include respond(mobile) {
          margin-left: auto;
        }
      }
    }

    div {
      height: 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: -2rem;
      @include respond(mobile) {
        height: 4rem;
        bottom: -4rem;
        left: 0;
      }

      button {
        width: 100%;
        background-color: $white;
        border-color: $border;
        outline: none;
        font-size: 0.9rem;
        font-weight: 600;
        color: $input;
        border: 0;
        @include respond(mobile) {
          font-size: 2rem;
          font-weight: 300;
          &:first-of-type {
            border-bottom-left-radius: 3px;
          }
          &:last-of-type {
            border-bottom-right-radius: 3px;
          }
        }
      }
    }
  }

  &-button {
    background-color: $blue-light;
    border: 0;
    outline: none;
    height: 4.2rem;
    width: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    @include respond(tab) {
      height: 6rem;
      width: 5rem;
    }
    @include respond(mobile) {
      width: 100%;
      z-index: 1;
      box-shadow: 0 9px 31px 0 $shadow;
      border-radius: 3px;
    }
    div {
      height: 2rem;
      width: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $blue;
      @include respond(mobile) {
        margin: 0 auto;
        height: 3.5rem;
        width: 3.5rem;
      }
      img {
        margin-left: 2px;
      }
    }
  }
}
