@import '../../../Common/Utils/Styles/mixin.scss';
@import '../../../Common/Utils/Styles/colors.scss';
.spon-table {
  border: 1px solid rgba(0, 0, 0, 0.1);
  
  &--transactions {
    .rt-td,
    .rt-th {
      white-space: normal;
      word-break: break-word;
    }
    .ReactTable .rt-thead {
      width: 1850px;
    }

    .ReactTable .rt-tbody {
      width: 1850px;
    }
    .ReactTable .rt-td {
      white-space: unset;
    }
  }

  &__actions {
    display: flex;

    button {
      font-size: 0.8rem;
      box-shadow: 0;
      border: none;
      background: transparent;
      color: $darker-blue;
      text-decoration: underline;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        color: $disabled;
        cursor: not-allowed;
      }
    }
  }

  &__photo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: rc(40);
      height: rc(40);
      margin-right: rc(17);
    }

    &:hover {
      opacity: 0.5;
    }
  
  }

  .ReactTable {
    .rt-noData {
      position: relative;
      top: initial;
      bottom: rc(50);
      transform: translate(-50%,0);
      height: 10px;
      width: 170px;
    }
    .rt-thead {
      padding-top: rc(55);
      padding-bottom: rc(44);
      box-shadow: none;

      .rt-tr {
        padding: 0 2rem;
      }

      .rt-th {
        text-align: left;
        font-weight: 600;
        font-size: 1rem;
        color: $input;
        border-right: none;

        &:focus {
          outline: none;
        }
      }
    }

    .rt-tr-group {
      padding: rc(20) 2rem;
      border-bottom: none;

      &:nth-child(2n + 1) {
        background: $row;
      }
    }

    .rt-tr {
      align-items: center;
      color: $input;
      font-size: 1rem;
    }

    .select-wrap {
      display: none;
    }
  }
}
