$dark-deep-blue: #20232a;
$white: #ffffff;
$dark-blue: #282c34;
$main-blue: #61dafb;
$black: #000000;
$violet-light: #9394ff;
$violet-dark: #5556dc;
$violet: #4142a6;
$blue-light: #5dc3fd;
$blue: #1da4f0;
$orange: #fba517;
$darker-blue: #1e7be2;
$red: #f05971;
$error-red: #ff3b30;
$success-green: #66bb6a;
$gray: #dadce9;
$shadow: #37387f;
$label: #7b899f;
$input: #2e333b;
$border: #e5e9ee;
$header: #f7f8f9;
$light-gray: #fafafe;
$row: #f7f7f7;
$gray-dark: #7b899f;
$gray-deep-dark: #2e333b;
$gray-light: #f7f9fd;
$gray-icon: #9ea7b7;
$bg: #fafafe;
$inactive: #9ea7b7;
$green: #12b459;
$green-dark: #0f9349;
$green-light: #a0ceb3;
$switch-gray: #e8e8e8;
$brown-dark: #4f4f4f;
$dark-text: #616161;
$disabled: #e7e8ee;
$disable-span: #d1d3e1;
