@import '../../../Common/Utils/Styles/colors.scss';
@import '../../../Common/Utils/Styles/mixin.scss';

.landing-cnt {
  .mainblock {
    height: 85vh;

    @include respond(tab) {
      height: 65vh;
    }
    @include respond(mobile) {
      height: initial;
    }

    @media screen and (max-width: 767px) and (orientation: landscape) {
      height: auto;
      padding: 10rem 0 0 0;
    }
  }

  .title {
    @include respond(mobile) {
      width: 30rem;
      font-size: 36px;
    }
  }
}
